{% extends "base.html" %}

{% block content %}
    <style type="text/css">

h2{
    text-align: center;
}

</style>
<h2>Bilgisayar Mühendisliği</h2>
      <p>&nbsp; </p>

<div class="container">
    <table class="table" width="1141"  align="center">

    <div class="row" align="center" >
       <div class="col-xs-5 col-md-3">
    <label class="control-label col-sm-6" for="pwd">Ders Videoları</label>
  </div>
     <div class="col-xs-6 col-md-3">
   <label class="control-label col-sm-6" for="pwd">Ders Notları</label>
  </div>
     <div class="col-xs-6 col-md-3">
   <label class="control-label col-sm-6" for="pwd">Vize-Final</label>

  </div>
     <div class="col-xs-6 col-md-3">
   <label class="control-label col-sm-6" for="pwd">Duyuru</label>
  </div>
  </div>

    <div class="row">

       <div class="col-xs-6 col-md-3 sekil">
       {% for icerik in p %}
        {% if icerik.icerik.icerik == 'Ders Videoları' %}
           <ul>
              <li>
                  <a href="../detail/{{ icerik.pk }}">{{ icerik.baslik }}</a>
               </li>
           </ul>
           {% endif %}

        {% endfor %}
  </div>
     <div class="col-xs-6 col-md-3 sekil">
         {% for icerik in p %}
        {% if icerik.icerik.icerik == 'Ders Notları' %}
           <ul>
               <li>
                <a href="../detail/{{ icerik.pk }}">{{ icerik.baslik }}</a>
               </li>
           </ul>
             {% endif %}

        {% endfor %}

  </div>
     <div class="col-xs-6 col-md-3 sekil">
         {% for icerik in p %}
        {% if icerik.icerik.icerik == 'Vize Final' %}
           <ul>
               <li>
                <a href="../detail/{{ icerik.pk }}">{{ icerik.baslik }}</a>
               </li>
           </ul>
             {% endif %}

        {% endfor %}

  </div>
     <div class="col-xs-6 col-md-3 sekil">
        {% for icerik in p %}
        {% if icerik.icerik.icerik == 'Duyuru' %}
           <ul>
               <li>
                <a href="../detail/{{ icerik.pk }}">{{ icerik.baslik }}</a>
               </li>
           </ul>
            {% endif %}

        {% endfor %}

  </div>

  </div>

        </table>
    </div>
  <p>&nbsp; </p>




{% endblock %}