{% load staticfiles %}
<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>İnönü Paylaşıyor</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/css/main.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  </head>
  <body>
  <style type="text/css">
#kutu_1
{

width:1142px;
height:200px;


background-image:url(../static/resim/banner.jpg) ;
}

</style>






  <div class="container" align="center" class="img-responsive" >

  <div class="container" id="kutu_1" align="right"  >


         <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-target=".bs-example-modal-sm" style="margin-top:13px">
          Giriş Yap
         </button>

         <button class="btn btn-primary" data-toggle="modal" data-target="#myModal1" data-target=".bs-example-modal-sm" style="margin-top:13px">
          Hesap Oluştur
         </button>

  </div>



  </div>



<div class="container">

  <nav class="navbar navbar-default">
  <div class="container-fluid">

  <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>


  <a class="navbar-brand" href="../../ ">Anasayfa</a>
  </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="../../bolumler/">Bolumler <span class="sr-only">(current)</span></a></li>
        <li><a href="../../iletisim/">İletisim</a></li>
        <li id="paylas"><a href="../../paylas/">Paylas</a></li>
        <li id="search"><a href="../../search/">Search</a></li>

      </ul>


      <form class="navbar-form navbar-right"  action="" method="GET">
   <div class="form-group">
      <input type="text" name="Search" placeholder="Search posts"/>
</div>
      <input type="submit" value="Search"/>
      </form>
    </div>
  </div>
</nav>
</div>

<div  class="container" align="right">

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" align="left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Hoşgeldiniz</h4>
              </div>
              <div class="modal-body">

          <form>
          <div class="form-group" align="left">
            <label for="recipient-name" class="control-label">Kullanıcı Adınız</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group" align="left">
            <label for="message-text" class="control-label">Parolanız</label>
            <input type="password" class="form-control" name="Password" placeholder="Parola" required/>
          </div>

        </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary">Giriş Yap</button>
              </div>
          </div>
        </div>
      </div>


        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" align="left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Hoşgeldiniz , hesabınızı oluşturun.</h4>
              </div>
              <div class="modal-body">

  <form method="post" action="">

    <input type="submit" value="Create new user account" />
</form>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary">Kaydet</button>
              </div>
          </div>
        </div>
      </div>
</div>

{% block content %}
{% endblock %}
  <p>&nbsp; </p>




<div class="container" align="center">
<div class="row" >
   <img src="../static/resim/altbanner.png" width="1141" height="57" class="img-rounded">
</div>
</div>


 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
